body{
    background-color: #f0f0f0;
}
.white-bar{
    height: 50px;
    width: 100%;
    top: 10px;
    background-color: white;
    position: absolute;
    margin-top: 1em;
}
.navbar-whole{
    position: relative;
}

#c-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.circle {
    padding: 1em;
    margin: 2em;
}

#c1 {
    height: 105px;
    width: 105px;
    background-color: #e6563b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;

}
#c2 {
    height: 105px;
    width: 105px;
    background-color: #eb9d3a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
}
#c3{
    height: 105px;
    width: 105px;
    background-color: #7cb06c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
}
#c4{
    height: 105px;
    width: 105px;
    background-color: #00aba9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
}
/* creating 1 circle selector for all icons */
/* below circle selector are color indicators for each circle */
.rounded-circle{
    height: 30px;
    width: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    background-color: #e6563b;
}
.orange{
    background-color: #eb9d3a;
}
.green{
    background-color: #7cb06c;
}
.teal{
    background-color: #00aba9;
}
.card-img-top{
    padding: 0;
}
/*removed padding from card-body to align with wireframe*/
.card-body{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* added thick border to represent frame of pic */
.thickBorder{
    border: .5em solid lightgray;
}
/* changed font-family for all p tags to be Abel */
p{
    font-family: 'Abel', sans-serif;
    margin-bottom: 0 !important;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    .navbar{
        margin: 1em 0;
        padding: 1em 0;
    }
    .pic-title{
        text-align: center;
        width: 100%;
    }
    .nav-link{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .top-links{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
    }
    #card2, #card3, #card4{
        display: none !important;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    @media only screen and (min-width: 600px) {
        .navbar{
            margin: 1em 0;
            padding: 1em 0;
        }
        .pic-title{
            text-align:center ;
            width: 100%;
        }
        .nav-link{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-content: start;


        }
        .top-links{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1em;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*...*/
}
